#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.app-container {
  display: flex;
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* AJUSTE AQUI */
.main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
  margin-left: 300px; 
}